{% extends "index.html" %}

{% block title %}
    Submit Form
{% endblock title %}



{% block content %}

<style>
    .article-form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 500px;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 10px;
    }
    .article-form-container > h2 {
        padding: 1rem;
    }
    /* .article-form-container > h4 {
        padding: 0 1rem;
        color: orangered;
        letter-spacing: 0.05rem;
        font-size: 1rem;
        font-weight: 400;
    } */
    .article-form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border-radius: 10px;
    }
    .article-form > input,
    .article-form > textarea {
        border: 1px solid lightgray;
        letter-spacing: 0.05rem;
        padding: 1rem;
        border-radius: 10px;
        resize: none;
    }
    .form-button {
        display: flex;
        justify-content: end;
        gap: 0.5rem
    }
    .form-button > * {
        padding: 0.6rem 1rem;
        letter-spacing: 0.05rem;
        border: 1px solid lightgray;
        background: none;
        text-decoration: none;
        border-radius: 25px;
        font-size: 1rem;
        color: black;
        font-family: system-ui, sans-serif;
    }
</style>


<div class="article-form-container">
    {% if not article %}
    <h2>Article Form</h2>
    <form class="article-form" action="/new/article" method="POST">
        {% csrf_token %}
        <input type="hidden" value="/" name="next">
        <input type="text" name="title" placeholder="Title">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Content"></textarea>
        <div class="form-button">
            <input type="submit" value="Create article">
            <a href="/">Cancel</a>
        </div>
    </form>
    {% else %}
    <a href="/article/{{ article.id }}">
        <p>Article: {{ article.id }}</p>
        <h3>{{ article.title }}</h3>
        <p>{{ article.content }}</p>
    </a>
    {% endif %}
</div>
{% endblock content %}