{% extends 'index.html' %}


<title>
    {% block title %}
        TryDjango
    {% endblock title %}
</title>


{% block content %}
    <h1 style="margin: 1.5rem 0">Articles</h1>
    <div style="display: grid; grid-template-columns: auto auto auto; grid-gap: 0.5rem;">
        {% for article in articles %}
        <div style="background: rgb(160, 255, 160); padding: 1rem;">
            <h3>{{ article.title }}-{{ article.pk }}</h3>
            {% if article.author %}
                <p style="margin-top: 1rem">Author: {{ article.author }}</p>
            {% else %}
            <p style="margin-top: 1rem">Author: Annonymous</p>
            {% endif %}
            <p style="margin-top: 0.5rem">Author: {{ article.content }}</p>
            <a style="display: inline-block; margin-top: 1rem; 
            background: green; color: white; padding: 1rem;
            border-radius: 10px;" href="{% url 'articles:article-detail' article.pk %}">See more</a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}