<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>


    <style>
        ::before,
        ::after,
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
        }
        .nav-bar > ul > li > a {
            display: inline-block;
            padding: 2rem;
            color: rgb(0, 107, 93);
            font-size: 16px;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div style="margin: 0 auto; width: 80%; display: flex; align-items: center; justify-content: space-between;">
        <div>
            <a style="font-size: 2rem; font-weight: bold; color: rgb(0, 165, 0)" href="{% url 'articles:home' %}">TryDjango</a>
        </div>
        <form action="{% url 'articles:search' %}" method="GET">
            <input type="text" name="q" placeholder="Serch by title">
            <input type="submit">
        </form>
        <nav class="nav-bar">
            <ul style="display: flex; align-items: center; justify-content: space-between; list-style: none">
                <li><a href="{% url 'articles:home' %}">Home</a></li>
                <li><a href="{% url 'articles:create-article' %}">Create</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'articles:user-logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'articles:user-login' %}">Login</a></li>
                    <li><a href="{% url 'articles:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div style="width: 100%; border: 1px solid rgb(223, 223, 223)"></div>
    <!-- <div style="width: 80%; margin: 0 auto">
        <form action="{% url 'articles:search' %}" method="GET">
            <input type="text" name="q" placeholder="Serch by title">
            <input type="submit">
        </form>
    </div> -->
    <div style="width: 80%; margin: 0 auto">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>