{% extends 'index.html' %}


<title>
    {% block title %}
        Search
    {% endblock title %}
</title>


{% block content %}
    <h1>Search Result</h1>
    <div>
        {% comment %}
            <!-- <a href="https:www.google.com/search?q={{ my_data }}" class="get-data" target="_blank">Google Search >>> {{ my_data }}</a> -->
        {% endcomment %}
        {% if article %}
            <a href="{% url 'articles:article-detail' article.pk %}" class="retrieve-data">{{ article }}</a>
        {% else %}
            <p>not found</p>
        {% endif %}
    </div>
{% endblock content %}