{% extends 'index.html' %}

<title>
    {% block title %}
        Login
    {% endblock title %}
</title>

{% block content %}
    <div>
        <h1>Login</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if request.user.is_authenticated %}
            <p>You are logged in already</p>
            <a href="{% url 'articles:user-logout' %}">Logout</a>
        {% else %}
        <form action="{% url 'articles:user-login' %}" method="POST">
            {% csrf_token %}
            <div style="margin-top: 1rem">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div style="margin-top: 1rem">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div style="margin-top: 1rem">
                <input type="submit" value="Login">
            </div>
        </form>
        {% endif %}
    </div>
{% endblock content %}