{% extends 'index.html' %}


<title>
    {% block title %}
        Register
    {% endblock title %}
</title>


{% block content %}
    {% if not request.user.is_authenticated %}
    <div>
        <form action="{% url 'articles:register' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
    {% else %}
        <div>
            <p>{{ request.user.username }}, you are already logged in.</p>
        </div>
    {% endif %}
{% endblock content %}